
/* Thin */
@font-face {
    font-family: "Montserrat";
    src: url(Montserrat-Thin.otf);

    font-weight: 100;
    font-style: normal;
}

/* Thin Italic */
@font-face {
    font-family: "Montserrat";
    src: url(Montserrat-ThinItalic.otf);

    font-weight: 100;
    font-style: italic;
}

/* ExtraLight */
@font-face {
    font-family: "Montserrat";
    src: url(Montserrat-ExtraLight.otf);

    font-weight: 200;
    font-style: normal;
}

/* ExtraLight Italic */
@font-face {
    font-family: "Montserrat";
    src: url(Montserrat-ExtraLightItalic.otf);

    font-weight: 200;
    font-style: italic;
}

/* Light */
@font-face {
    font-family: "Montserrat";
    src: url(Montserrat-Light.otf);

    font-weight: 300;
    font-style: normal;
}

/* Light Italic */
@font-face {
    font-family: "Montserrat";
    src: url(Montserrat-LightItalic.otf);

    font-weight: 300;
    font-style: italic;
}

/* Regular */
@font-face {
    font-family: "Montserrat";
    src: url(Montserrat-Regular.otf);

    font-weight: 400;
    font-style: normal;
}

/* Regular Italic */
@font-face {
    font-family: "Montserrat";
    src: url(Montserrat-Regular.otf);

    font-weight: 400;
    font-style: italic;
}

/* Medium */
@font-face {
    font-family: "Montserrat";
    src: url(Montserrat-Medium.otf);

    font-weight: 500;
    font-style: normal;
}

/* Medium Italic */
@font-face {
    font-family: "Montserrat";
    src: url(Montserrat-MediumItalic.otf);

    font-weight: 500;
    font-style: italic;
}

/* SemiBold */
@font-face {
    font-family: "Montserrat";
    src: url(Montserrat-SemiBold.otf);

    font-weight: 600;
    font-style: normal;
}

/* SemiBold Italic */
@font-face {
    font-family: "Montserrat";
    src: url(Montserrat-SemiBoldItalic.otf);

    font-weight: 600;
    font-style: italic;
}

/* Bold */
@font-face {
    font-family: "Montserrat";
    src: url(Montserrat-Bold.otf);

    font-weight: 700;
    font-style: normal;
}

/* Bold Italic */
@font-face {
    font-family: "Montserrat";
    src: url(Montserrat-BoldItalic.otf);

    font-weight: 700;
    font-style: italic;
}

/* ExtraBold */
@font-face {
    font-family: "Montserrat";
    src: url(Montserrat-ExtraBold.otf);

    font-weight: 800;
    font-style: normal;
}

/* ExtraBold Italic */
@font-face {
    font-family: "Montserrat";
    src: url(Montserrat-ExtraBoldItalic.otf);

    font-weight: 800;
    font-style: italic;
}

/* Black */
@font-face {
    font-family: "Montserrat";
    src: url(Montserrat-Black.otf);

    font-weight: 900;
    font-style: normal;
}

/* Black Italic */
@font-face {
    font-family: "Montserrat";
    src: url(Montserrat-BlackItalic.otf);

    font-weight: 900;
    font-style: italic;
}